{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {%for pic in pics%}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card my-3" style="width: 22rem;">
                <img src="{{pic.image.url}}"
                     class="card-img-top" alt="An undisplayed image">
                <div class="card-body photo-footer">
                    <p class="card-title"><b>Category: </b>{{pic.category}}</p>

                    <button type="button" class="btn btn-outline-dark btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{pic.id}}">
                        View picture
                    </button>

                </div>
            </div>
        </div>


        <!--    modal-->
        <div class="modal fade" id="exampleModal{{pic.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" style="width: 50rem;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{pic.category}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{pic.image.url}}"
                             class="card-img-top">
                        <hr>
                        <p><b>Description:</b> {{pic.description}}</p>
                        <p><b>Location:</b> {{pic.location}}</p>
                        <p class="text-muted fst-italic"><b>~ </b> {{pic.pub_date}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h3>No photos to display</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}